:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--modal-background-color);
}

.background {
  background-color: var(--dark-color);
}
.header-1 {
  color: var(--white-background-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.07em;
}

.header-3 {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0em;
}

.header-2 {
  color: var(--modal-overlay-color);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.1px;
  letter-spacing: 0.05em;
}

.background-cloud {
  background-color: var(--light-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--dark-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
}

.logo-studio {
  color: var(--dark-color);
}

.link:hover,
.link:focus {
  color: var(--primary-brand-color);
}

.link-nav {
  color: var(--hero-background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.filter-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.filter-button {
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-family: inherit;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
}

.address {
  font-style: none;
}

.footer {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-studio-footer {
  color: var(--light-color);
}

.background-li {
  background-color: var(--white-background-color);
}
