body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fcfcfc;
}

.root {
  --text-color: #2e2f42;
  --brand-color: #4d5ae5;
  --background-color-navy-blue: #2e2f42;
  --background-color-cloud: #f4f4fd;
  --white: #fff;
  --button-color: #404bbf;
}

.background {
  background-color: #2e2f42;
}
.header-1 {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 1.12px;
}

.header-3 {
  color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.40px;
}

.description {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
}

.header-2 {
  color: #2E2F42;
font-size: 36px;
font-weight: 700;
text-transform: capitalize;
line-height: 1.1px;
letter-spacing: 0.72px;
}

.background-cloud {
  background-color: #f4f4fd;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-studio {
  color: #2e2f42;
}

.link:hover {
  color: var(--link-hover);
}
.link:focus {
  color: var(--link-hover);
}

.filter-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.filter-button {
  color: #4d5ae5);
  background-color: #f4f4fd;
}

.filter-button:hover {
  color: #fff;
  background-color: #404bbf;
}
