body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fcfcfc;
}

.root {
  --text-color: #2e2f42;
  --brand-color: #4d5ae5;
  --background-color-navy-blue: #2e2f42;
  --background-color-cloud: #f4f4fd;
  --white: #fff;
  --button-color: #404bbf;
}

.filter-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.filter-button {
  color: var(--brand-color);
  background-color: var(--background-color-cloud);
}

.filter-button:hover {
  color: var(--white);
  background-color: var(--button-color);
}

.link {
  text-decoration: none;
  color: var(--text-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-decoration: none;
}
.link:hover {
  color: var(--link-hover);
}
.link:focus {
  color: var(--link-hover);
}
.logo-studio {
  color: var(--text-color);
}
